@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  color: #222;
}

#MarginLeftRight {
  padding-right: 10px; 
  padding-left: 10px;
}


/* styles for navbar */
.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}


/* Inner Carousel */
.carousel-inner img {
    width: 100%;
    height: 600px;
}

.carousel-captain {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-captain h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-captain h3 {
  font-size: 500%;
  font-weight: 500;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 10px #000;
}


/* padding part */
.padding {
  padding-bottom: 2rem;
}


/* about in short */
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

#blog_column {
  padding: 30px;
}


 /* More about Projects */
.ProjectsDone img {
  width: 80%;
  border-radius: 50%;
}

.ProjectsDone img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}



/* decorate the quote */
blockquote .svg-inline--fa {
  margin: 1rem;
}


/* social media icon */
.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-linkedin-in {
  color: #0077B5;
}

.fa-github {
  color: #000000;
}

.fa-facebook-square :hover,
.fa-twitter :hover,
.fa-instagram :hover,
.fa-linkedin-in :hover,
.fa-github :hover {
  color: #d5d5d5;
}

.page-footer {
  background: #EAF0F1;
  color: black;
}

.navbar {
 background: #EAF0F1; 
}

fixed {
  height: 400px;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size:  4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel-captain {
    top: 45%;
  }

  .carousel-captain h1 {
    font-size: 350%;
  }

  .carousel-captain h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }

  .carousel-captain .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  #resume{
    width: 70%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 200%;
    padding: 1.2rem;
  }

}
@media (max-width: 576px) {
  
  .carousel-captain {
    top: 40%;
  }

  .carousel-captain h1 {
    font-size: 250%;
  }

  .carousel-captain h3 {
    font-size: 110%;
  }

  .carousel-captain .btn {
    font-size: 90%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url("/AllAboutPranesh/res/images/computers.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








